/*Typografie */
.h1{
    display: flex;
    font-size: 119pt;
    font-family: Yeseva One;
    font-weight: 300;
}
h1{
    display: none;
}
.wp-block-heading{
    margin: 0;
    margin-bottom: 20px;
}
h2{
    font-size: 35pt;
    font-family: Yeseva One;
    font-weight: 200;
}
h3{
    font-family: Yeseva One; 
    margin-left: 18px;
    font-weight: 100;
    font-size: 25pt;

}
p{
    font-family: Roboto;
    font-size: 18pt;
}
a{
    font-family: Roboto;
}
time{
    font-family: Roboto;
    margin-left: 18px;
}

/* buttons*/
/* projekte*/
.wp_button_projekt{
    margin-left: 7%;
}

/*andere */

.wp-block-button a{
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid azure;
    border-radius: 8px ;
}
.wpcf7-submit{
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid azure;
    border-radius: 8px ;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em;
    color: azure;
}
/* cover*/
.wp-block-cover__inner-container h1{
    color: azure;
}

/**********RESPONSIV**********/
@media screen and (max-width:728px) {
    /* TYPO*/
    .h1{
        font-size: 50pt;
        font-weight: 200;
        margin-top: 10px;
    }
    h2{
        font-size: 15pt;
        font-weight: 200;
    }
    h3{
        margin-left: 12px;
        font-size: 15pt;
    }
    p{
        font-size: 9pt;
    }
    

}